* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 107, 107);
  gap: 20px;
  padding: 20px;
}

nav button {
  padding: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  height: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.1s ease-in;
  background: rgb(8, 150, 0);
  color: white;
}

nav button:active {
  box-shadow: none;
}

nav input {
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1rem;
  height: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  background: rgb(212, 212, 212);
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 48px;
  background: #333;
}

main .todos {
  width: 100%;
  padding: 20px;
  background: rgba(100, 101, 101, 0.5);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  color: white;
}

main .todos .todo {
  padding: 20px;
  background-color: rgba(108, 108, 108, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 24px;
  color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

input[type="checkbox"]:checked {
  background: rgb(26, 26, 26);
}

.todo button {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: auto;
  background-color: red;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  main {
    padding: 20px;
  }
}
